<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hew.springcloudserver.mapper.UserMapper">

    <select id="listUser" resultType="com.hew.springcloudserver.DTO.UserDTO">
        select id,name,age,sex,state from user where state = #{userQuery.state}
    </select>

    <resultMap id="userRoleBO" type="com.hew.springcloudserver.BO.UserRoleBO">
        <id column="id" property="userDTO.id"/>
        <result column="name" property="userDTO.name"/>
        <result column="age" property="userDTO.sex"/>
        <result column="state" property="userDTO.state"/>
        <collection property="roles" ofType="com.hew.springcloudserver.DO.RoleDO">
            <result column="role_name" property="name"/>
            <result column="role_desc" property="roleDesc"/>
        </collection>
    </resultMap>

    <select id="userRoles" resultMap="userRoleBO">
        select a.id,a.name,a.age,a.sex,a.state,c.name role_name,c.role_desc from user a,user_role b,
            role c where a.id=b.user_id and b.role_id = c.id
    </select>

    <resultMap id="roles" type="com.hew.springcloudserver.DTO.RoleDTO">
        <id column="id" property="roleDO.id"/>
        <result column="parent_id" property="roleDO.parentId"/>
        <result column="name" property="roleDO.name"/>
        <result column="role_desc" property="roleDO.roleDesc"/>
        <result column="create_time" property="roleDO.createTime"/>
        <result column="update_time" property="roleDO.updateTime"/>
        <collection property="roles" ofType="com.hew.springcloudserver.DTO.RoleDTO" select="childRoles" column="id">
            <id column="id" property="roles.id"/>
            <result column="parent_id" property="roles.parentId"/>
            <result column="name" property="roles.name"/>
            <result column="role_desc" property="roles.roleDesc"/>
            <result column="create_time" property="roles.createTime"/>
            <result column="update_time" property="roles.updateTime"/>
        </collection>
    </resultMap>
    <select id="allRoles" resultMap="roles">
        select id,parent_id,name ,role_desc,create_time,update_time from role WHERE parent_id = 0
    </select>
    <select id="childRoles" resultMap="roles">
        select id,parent_id,name ,role_desc,create_time,update_time from role WHERE parent_id = #{id}
    </select>
    <select id="getUserState" resultType="java.lang.Byte">
        select state from user where id = #{id}
    </select>

    <select id="getUserByUserName" resultType="com.hew.springcloudserver.DTO.UserDTO">
        select * from user where user_name = #{userName}
    </select>
</mapper>